<!doctype html>

{% include origin-type.html %}

{% include lang.html %}

<html lang="{{ site.alt_lang | default: site.lang }}" {{ prefer_mode }}>


{% include head.html %}

<head>
  <meta charset=utf-8 />
  <title> {% if page.title %} {{ page.title }} | {% endif %} {{ site.title }}</title>
  <link href="/assets/css/{{ site.cv }}-screen.css" type="text/css" rel="stylesheet" media="screen">
  <link href="/assets/css/{{ site.cv }}-print.css" type="text/css" rel="stylesheet" media="print">
</head>

<body>
  <div id="cv">
    <div id="content">
      {{ content }}
    </div>
  </div>
</body>

</html>